html, 
body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}
/* Mobile devices */
@media (max-width: 480px){
    .container {
        width: 100vw;
        
    }
    nav,
    .logo,
    nav > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0.5em;
    }
    .logo {
        gap: 0.25em;
    }
    .logo-img {
        width: 30px;
    }
    .logo > h1 {
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
    }
    ul li {
        list-style: none;
    }
    li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #090909;
        font-size: 0.875rem;
        font-weight: 600;
    }
    nav ul {
        gap: 2em;
    }
    .hero {
        background-image: url('../images/main-blog-flipped.png');
        height: 250px;
        background-size: cover;
        background-position: bottom;
        color: white;
        padding: 5em 1em 1em 1em;
        
    }
    .hero h2,
    .main-post h2,
    .about-me h2 {
        font-size: 2rem;
        line-height: 1em;
        margin: 0;
    }
    .date {
        font-size: 0.75rem;
        font-weight: 400;
    }
    .blog-post {
        padding: 2em 1.5em;

    }
    article {
        padding-top: 2.5em;
        padding-bottom: 0.5em;
    }
    article img,
    .recent-post img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
    article p {
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
    }
    article h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    .view-more {
        color: black;
        display: block;
        font-weight: 700;
        text-align: center;
        margin: 1em 0;
    }
    footer {
        background-color: #202020;
        color: white;
        padding: 2em 0;
        text-align: center;
    }
    footer p,
    footer h4 {
        margin: 0;
        font-size: 0.75rem;
    }
    footer h4 {
        font-weight: 700;
    }
    footer p {
        font-weight: 400;
    }

    .main-post img {
        height: 250px;
        width: 100%;
        object-fit: cover;
        object-position: 100% 67%;
    }
    .about-me img {
        border-radius: 50%;
        width: 60%;
        margin-bottom: 1em;
    }
}

/* iPads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {}

/* Small screens, laptops*/
@media (min-width: 769px) and (max-width: 1024px) {}

/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {}

/* Extra larger screens, TV */
@media (min-width: 1201px) {}
